body{
  background: silver;
}
/* пкм не активна на фото */
img {
    pointer-events: none;
}
a.custom-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
    text-align: right
}
.link {
    color: blue; /* Исходный цвет */
    text-decoration: none;
    cursor: pointer;
    text-align: left
}
.photo-frame img {
    width: 60%;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

