body {
  background: silver;
}
/* пкм не активна на фото */
img {
    pointer-events: none;
}
a.custom-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
    text-align: right
}
a.custom-link:hover {
    color: gray; /* Пример изменения цвета при наведении */
    text-decoration: underline; /* Пример подчеркивания при наведении */
}
.link {
    color: blue; /* Исходный цвет */
    text-decoration: none;
    cursor: pointer;
    text-align: left
}


.photo-frame img {
    width: 60%;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
html {
    scroll-behavior: smooth;
}

/* Стили к модальному окну просмотра фото */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
}
.modal img {
    max-width: 100%;
    max-height: 100%;
}
