body{
  background: silver;
}
/* пкм не активна на фото */
img {
    pointer-events: none;
}
.link {
    color: blue; /* Исходный цвет */
    text-decoration: none;
    cursor: pointer;
}
.photo-frame img {
    width: 60%;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
