<!--
   feedback for admin
-->
{% extends "album/layout.html"%}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content%}
<style>
   
    form {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 550px;
    }
    textarea {
        width: 500px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
        font-size: 16px;
    }
    button {
        background-color: lime;
        color: black;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        width: 100%;
    }
    button:hover {
        background-color: grey;
    }
</style>

 <div class="container">
   <form>
      <textarea rows="15" placeholder="Введите ваше сообщение..."></textarea>
      <br>
      <button type="submit">Отправить сообщение.</button>
   </form>
  </div>  
   
{%endblock%}
